.button-md {
    height: 40px;
    width: 150px;
    color: #fff;
    padding: 5px;
    margin: 20px 0;
    border: none;
    cursor: pointer; 
}

.button-confirm {
    background-color: #4169e1;
}

.button-alert {
    background-color: #f44336;
}
